@import '../scss/variables';

.home {
    background-color: $home-bg-color;
    display: flex;
    justify-content: space-between;
    padding: 20px 80px 60px;
    font-family: 'Roboto', sans-serif;

    @media screen and (max-width: 1140px) {
        justify-content: center;
        padding: 20px 20px 60px;
        img {
            display: none;
        }
    }

    article {
        width: 100%;
        max-width: 470px;

        h1 {
            color: $header-btn-bg-color;
            font-size: 36px;
            margin-bottom: 40px;
        }

        p {
            color: $home-text-color;
            font-size: 18px;
            margin-bottom: 40px;
        }

        .see-more-btn {
            display: flex;
            align-items: center;
            gap: 10px;
            a {
                color: $header-btn-bg-color;
                font-size: 18px;
                text-decoration: none;
            }
    
            i {
                color: $arrow-btn-color;            font-size: 24px;
            }
        }
    }

    img {
        width: 100%;
        max-width: 470px;
        height: auto;
    }
}