@import 'variables';

.post-style {
    h2 {
        color: $post-title-color;
        font-size: 24px;
        margin: 10px 0;
    }

    p, span {
        color: $post-text-color;
        font-size: 16px;
        text-align: justify;
    }
}

.posts {
    padding: 60px 80px;
    font-family: 'Poppins';
    @extend .post-style;
    background-color: $post-bg-color;

    .main-posts {
        display: flex;
        justify-content: space-between;
        margin-bottom: 60px;

        aside {
            width: 569px;

            img {
                width: 100%;
                height: 342px;
            }
        }
    }

    .other-posts {
        display: flex;
        justify-content: space-between;
        div {
            width: 370px;

            img {
                width: 100%;
                height: 259px;
            }
        }
    }
}