@import '../scss/variables';
@import '../scss/header';
@import '../scss/home';
@import '../scss/posts';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1440px;
    margin: 0 auto;
    background-color: $post-bg-color;
}